[plugin]
############################################  NOTICE  ################################################
#                                    Copyright 2026 UC3M:100472412                                   #
#                                                                                                    #
#                 Licensed under the Apache License, Version 2.0 (the "License");                    #
#                 you may not use this file except in compliance with the License.                   #
#                 You may obtain a copy of the License at                                            #
#                                                                                                    #
#                             http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                                                    #
#                 Unless required by applicable law or agreed to in writing, software                #
#                 distributed under the License is distributed on an "AS IS" BASIS,                  #
#                 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.           #
#                 See the License for the specific language governing permissions and                #
#                 limitations under the License.                                                     #
#                                                                                                    #
############################################           ###############################################
name="AudionavPlugin"
description="Audio accessibility plugin that automates 3d sound positioning and wayfinding. Please note it is tailored for 2d game integration"
author="100472412_uc3m"
version="1"
script="audionav_plugin.gd"
